header {
  font-family: fantasy;
  display: flex;
  flex-wrap: wrap;
}


.name {
  color: #3d6fff;
  width: 33.3%;
}

nav {
  width: 33.3%;
}


nav ul li {
  list-style-type: none;
}


#logo {
  width: 33.3%;
}


#title {
  color: #7d97fd;
}


#container {
  text-align: center;
  padding: 10px 50px 10px 50px;
}


body{
  margin: 0;
}


body p{
  padding: 0;
}

#canvas{
    background-color: #e5e5f8;
}


hr {
  width: 80%;
  height: 5px;
  background-color: #32defd;
  border: none;
}

@media screen and (max-width:799px){
  nav,
  hr,
  .name,
  #logo{
    width: 100%;
  }

  nav ul {
    display: flex;
  }


  nav ul li {
    width: 33.3%;
  }

}
