header {
  font-family: fantasy;
  display: flex;
  flex-wrap: wrap;
}


.name {
  color: #3d6fff;
  width: 33.3%;
}


.workItem {
  width: 33.3%;
  font-family:cursive;
}


.workItem img {
  max-width: 50%;
  max-height: 50%;
}


nav {
  width: 33.3%;
}


nav ul li {
  list-style-type: none;
}


#logo {
  width: 33.3%;
}


#mainImg {
  max-height: 70%;
  max-width: 70%;
}


#title {
  color: #7d97fd;
}


#container {
  text-align: center;
  padding: 10px 50px 10px 50px;
}


hr {
  width: 80%;
  height: 5px;
  background-color: #32defd;
  border: none;
}


#works {
  display: flex;
}
