*{
  user-select: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}


header {
  font-family: fantasy;
  display: flex;
  flex-wrap: wrap;
}


.name {
  color: #3d6fff;
  width: 33.3%;
}

nav {
  width: 33.3%;
}


nav ul li {
  list-style-type: none;
}


#logo {
  width: 33.3%;
}


#title {
  color: #7d97fd;
}


#container {
  text-align: center;
  padding: 10px 50px 10px 50px;
}


body{
  margin: 0;
}


#canvas{
    background-color: #e5e5f8;
}


hr {
  width: 80%;
  height: 5px;
  background-color: #32defd;
  border: none;
  margin-bottom: 0;
  margin-top: -5px;
}


.toolbar{
  display: flex;
  flex-wrap: wrap;
}


.tool{
  width: 33%;
  display: inline-block;
}


 .radControl{
  display: inline-block;
  width: 20px;
  border: 1px solid;
  border-radius: 5px;
}


.swatch{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 rgba(0, 150, 200, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 0 2px -8px 2px;
}


.swatch.active{
  border: 2px solid #32deff;
}


@media screen and (max-width:799px){
  nav,
  hr,
  .name,
  #logo{
    width: 100%;
  }

  nav ul {
    display: flex;
  }


  nav ul li {
    width: 33.3%;
  }

}
