header {
  font-family: fantasy;
}
header .name{
  color: #3d6fff;
  text-align: none;
  float: left;
  width: 33.3%;
}
main .workItem {
  float: left;
  width: 33.3%;
}
main .workItem img {
  max-width: 50%;
  max-height: 50%;
}
nav{
  text-align: center;
  float: left;
  width: 33.3%;
}
nav ul li{
  list-style-type: none;
}
#logo {
  width: 33.3%;
  float: left;
}
#main {
  height: 70%;
  width: 70%;
}
#title {
  color: #7d97fd;
}
#container {
  text-align: center;
  padding: 10px 50px 10px 50px;
}
